PORT=5000
MONGODB_URI=mongodb+srv://medhavis861_db_user:EARsDkeTcl2ri6mF@cluster0.21jupnb.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECERT=3d4a24b23df2ee84ef6e1f3f91b9267c2d1572e05cb02ad85a688738f69c80ea
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECERT=e6e4708b9b849e9868b9299e545647e89ea9345acdd5221df91664234b0f2acc
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECERT=MZ-