PORT=5000
MONGODB_URI=mongodb+srv://medhavis861_db_user:PASSWORD@cluster0.21jupnb.mongodb.net
ACCESS_TOKEN_SECERT=MyNameIsMedhavi
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECERT=MyNameIsPrince
REFRESH_TOKEN_EXPIRY=10d